/* ------------------- Profile posting containers ------------------- */
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-width: 360px;
    margin: 0 auto;
    padding: 44px 24px 24px;
}

.profile-container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.profile-posting-container {
    display: grid;
    height: auto;
    margin: 0 auto;
    grid-gap: 1rem;
}



/* ------------------- Profile container header content ------------------- */
.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgb(218, 236, 245);
}

.profile-image:hover #edit-user {
    opacity: 1;
}

#username {
    width: fit-content;
    font-size: 17px;
    margin: 10px;
    padding: 5px;
    color: #f76c6c;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

#email {
    width: fit-content;
    /* padding: 3px; */
    font-size: 11px;
    color: #374785;
    border-radius: 5px;
    /* background-color: #24305e; */
}



/* ------------------- Profile posting containers content ------------------- */
.profile-headers {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 44px 0 14px 0;
    padding: 13px 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}




/* ------------------- Posting detail media queries ------------------- */
@media (min-width: 450px) {
    .profile-posting-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 650px) {
    .profile-posting-container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 850px) {
    .profile-posting-container { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1050px) {
    .profile-posting-container { grid-template-columns: repeat(5, 1fr); }
}
