/* ------------------- Search container ------------------- */
.search-container {
    /* position: absolute; */
    /* position: fixed; */
    display: flex;
    justify-content: flex-end;
}

.search-bar {
    min-width: 200px;
    height: 30px;
    margin-right: 10px;
}



/* ------------------- Search results ------------------- */
.search-results {
    position: fixed;
    display: inline;
    flex-direction: column;
    align-items: center;
    right: 300px;

    padding: 0;
}



/* ------------------- Search result info ------------------- */
.search-result {
    display: flex;
    min-width: 200px;
    min-height: 30px;
    border: 1px solid white;
}

.search-result-click {
    text-decoration: none;
}
