/* ------------------- Search container ------------------- */
.search-container {
    /* position: absolute; */
    /* position: fixed; */
}

.search-container input {
    min-width: 200px;
    min-height: 30px;
}



/* ------------------- Search results ------------------- */
.search-results {
    display: inline;
    flex-direction: column;
    align-items: center;
}



/* ------------------- Search result info ------------------- */
.search-result {
    display: flex;
    min-width: 200px;
    min-height: 30px;
    border: 1px solid white;
}

.search-result-click {
    text-decoration: none;
}
