/* ------------------- Sitewide styles ------------------- */
* {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #a1d5f1;
    color: white;

    /* cursor: crosshair; */
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 45px;
}


/* ------------------- Sitewide caret cursor + scrollbar ------------------- */
input {
    caret-color: #ff9029;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f8e9a1;
}

::-webkit-scrollbar-thumb {
    background: #e6be3d;
}



/* ------------------- Sitewide errors ------------------- */
.errors {
    margin: 2px 0;
    padding-left: 4px;
    font-size: 11px;
    color: red;
    background-color: transparent;
}

.errors li {
    list-style: none;
    font-size: 12px;
    background-color: transparent;
}
