/* ------------------- Loading map style ------------------- */
/* .maps-container, .loader-container, .google-map {
    z-index: 1;
} */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin: 3px 0;
}

#loader {
    width: 40px;
    height: 40px;
    border: 5px solid #f8e9a1;
    border-top: 5px solid #e6be3d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* ------------------- Map style ------------------- */
.google-map {
    width: 100%;
    height: 250px;
    border: none;
    margin: 3px 0 0 0;
    border-radius: 5px;

    position: relative;
    animation-name: animatemap;
    animation-duration: 3s
}

@keyframes animatemap {
    from { opacity: 0 }
    to { opacity: 1 }
  }
