/* ------------------- Navbar container ------------------- */
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* gap: 0px 0px; */
    grid-template-areas:
    ". . .";

    width: 100%;
    padding-top: 25px;
}

#nav-logo {
    display: flex;
    justify-content: center;
    height: 24px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#menu-open {
    font-size: 24px;
    cursor: pointer;
}

.nav-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;

    padding-top: 25px;
    padding-bottom: 300px;
    background-color:#f8e9a1;
    transition: 1s ease;
    overflow-x: hidden;
}

/* Fixed navbar on left  */
/* .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;

    top: 0;
    left: 0;

    background-color:#96a56b;
    overflow-x: hidden;
} */



/* ------------------- Navbar links ------------------- */
#button-close {
    margin-bottom: 35px;
    font-size: 34px;
    color: #f76c6c;
    background-color: transparent;
    cursor: pointer;
}

#navbar-home, #navbar-profile {
    margin: 10px 0;
    font-size: 24px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s ease;
}

#navbar-home:hover, #navbar-profile:hover {
    color: #f76c6c;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.nav-links * {
    padding: 0;
}

.nav-links a {
    background-color: transparent;
}

.navbar-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.navbar-about a {
    background-color: #f8e9a1;
}

.navbar-about a i {
    margin-top: 7px;
    padding: 3px;
    font-size: 16px;
    color: #f76c6c;
    background-color: #f8e9a1;
}
