/* ------------------- Signup Container ------------------- */
.signup-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 456px;
    border-radius: 5px;
    box-shadow: 0 0 6px #98a76e;
    background-color: #fefae0;
}



/* ------------------- Signup elements ------------------- */
.signup-form {
    background-color: #fefae0;
}

.signup-inputs {
    overflow: auto;
    width: 258px;
    margin: 3px;
    padding: 8px;
    font-size: 12px;
    color: #98a76e;
    border: 1px solid #98a76e;
    border-radius: 3px;
    background-color: transparent;
}

.signup-submit {
    width: 276px;
    margin: 6px 3px 3px 3px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fefae0;
    background-color: #98a76e;
    cursor: pointer;
    transition: 0.5s ease;
}

.signup-submit:hover {
    background-color: #7b8856;
}
/* 
.signup-policies {
    padding-top: 10px;
    background-color: white;
    font-size: 11px;
    color: #8E8E8E;
} */



/* ------------------- Below signup container ------------------- */
.below-signup {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 350px;
    margin: 10px 0 25px 0;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0 0 6px #98a76e;
    background-color: #fefae0;
}

.below-signup div {
    margin-right: 2px;
    background-color: #fefae0;
    color: #afc07f;
}

.below-signup a {
    margin-left: 2px;
    font-weight: 600;
    color: #98a76e;
    background-color: #fefae0;
    text-decoration: none;
}
