/* ------------------- Signup Container ------------------- */
.signup-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 4px #e6be3d;
    background-color: #f8e9a1;
}



/* ------------------- Signup elements ------------------- */
.signup-form {
    background-color: transparent;
}

.signup-inputs {
    overflow: auto;
    width: 258px;
    margin: 3px;
    padding: 8px;
    font-size: 12px;
    color: #cca011;
    border: 1px solid #e6be3d;
    border-radius: 3px;
    background-color: transparent;
}

#signup-profile {
    margin: 0 3px 3px 5px;
    font-size: 10px;
    font-style: italic;
    color: #e6be3d;
    background-color: transparent;

}

/* .signup-form input[id='profile-pic'] {
    display: none;
} */

.signup-submit {
    width: 276px;
    margin: 6px 3px 3px 3px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #f76c6c;
    cursor: pointer;
    transition: 0.5s ease;
}

.signup-submit:hover {
    background-color: #e45959;
}



/* ------------------- Below signup container ------------------- */
.below-signup {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 288px;
    margin: 10px 0 25px 0;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 4px #e6be3d;
    background-color: #f8e9a1;
}

.below-signup div {
    margin-right: 2px;
    color: #f76c6c;
    background-color: #f8e9a1;
}

.below-signup a {
    margin-left: 2px;
    font-weight: 600;
    color: #f76c6c;
    background-color: #f8e9a1;
    text-decoration: none;
    transition: 0.5s ease;
}

.below-login a:hover {
    color: #e45959;
}
