/* ------------------- Splash image + animation ------------------- */
.splash-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-image-1 {
    position: relative;
    width: 700px;
    height: auto;
    background-color: transparent;
}

#splash-image-2 {
    position: absolute;
    top: -1em;
    right: 11.5em;
    width: 8.2em;
    height: auto;
    background-color: transparent;

    animation: splash-orange 4.5s ease-in-out infinite;
}

@keyframes splash-orange {
    0% { transform: translateY(0px) }
    50% { transform: translatey(-25px) }
    100% { transform: translatey(0px) }
}

#splash-image-3 {
    position: absolute;
    top: 8.2em;
    left: 6.5em;
    width: 11em;
    height: auto;
    background-color: transparent;

    animation: splash-pizza 3.7s ease-in-out infinite;
    animation-delay: 0.5s;
}

@keyframes splash-pizza {
    0% { transform: translateY(0px) }
    50% { transform: translatey(-25px) }
    100% { transform: translatey(0px) }
}

#splash-image-4 {
    position: absolute;
    top: 8em;
    right: 14em;
    width: 10em;
    height: auto;
    background-color: transparent;

    animation: splash-wood 3s ease-in-out infinite;
    animation-delay: 0.2s;
}

@keyframes splash-wood {
    0% { transform: translateY(0px) }
    50% { transform: translatey(-20px) }
    100% { transform: translatey(0px) }
}

.splash-caption {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}




/* ------------------- Media queries ------------------- */
@media only screen and (max-width: 1375px) {
    #splash-image-1 {
        width: 600px;
        height: auto;
    }

    #splash-image-2 {
        top: -1em;
        right: 10.2em;
        width: 7em;
        height: auto;
    }

    #splash-image-3 {
        top: 7em;
        left: 5.7em;
        width: 9em;
        height: auto;
    }

    #splash-image-4 {
        top: 7em;
        right: 12.5em;
        width: 8em;
        height: auto;
    }
}

@media only screen and (max-width: 815px) {
    #splash-image-1 {
        width: 500px;
        height: auto;
    }

    #splash-image-2 {
        top: -1em;
        right: 10.5em;
        width: 6em;
        height: auto;
    }

    #splash-image-3 {
        top: 6em;
        left: 7.5em;
        width: 7.5em;
        height: auto;
    }

    #splash-image-4 {
        top: 6em;
        right: 12em;
        width: 7em;
        height: auto;
    }
}

@media only screen and (max-width: 670px) {
    #splash-image-1 {
        width: 350px;
        height: auto;
    }

    #splash-image-2 {
        top: -0.6em;
        right: 10.7em;
        width: 4.2em;
        height: auto;
    }

    #splash-image-3 {
        top: 4.2em;
        left: 8em;
        width: 5.5em;
        height: auto;
    }

    #splash-image-4 {
        top: 4em;
        right: 12em;
        width: 5.2em;
        height: auto;
    }

    .splash-caption {
        font-size: 13px;
    }
}


@media only screen and (max-width: 597px) {
    .splash-image {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    #splash-image-1 {
        width: 350px;
        height: auto;
    }

    #splash-image-2 {
        top: -0.6em;
        right: 6em;
        width: 4.2em;
        height: auto;
    }

    #splash-image-3 {
        top: 4.2em;
        left: 3.5em;
        width: 5.5em;
        height: auto;
    }

    #splash-image-4 {
        top: 4em;
        right: 6.8em;
        width: 5.2em;
        height: auto;
    }

    .splash-caption {
        font-size: 13px;
    }
}
