/* ------------------- Home page container ------------------- */
.all-posting-container {
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
}



/* ------------------- Posting detail container ------------------- */
.posting-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 197.5px;
    width: 150px;
    padding: 10px;
    border: 1px solid #fefae0;
    border-radius: 5px;
}

.posting-detail-container p {
    margin: 5px 0;
}



/* ------------------- Posting container header ------------------- */
.posting-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#posting-icon {
    font-size: 45px;

    /* position: relative; */
    /* color: #ff6d29; */
    /* display: inline-block; */
    /* height: 25px; */
    /* width: 25px; */
    /* padding: 15px; */
    /* border: 1px solid #ff9029; */
    /* border-radius: 50%; */
}

.home-posting-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
}

.home-posting-buttons div {
    margin: 0 5px 5px 5px;
    font-size: 11px;
    border: none;
    cursor: pointer;
    visibility: hidden;
}

.posting-header:hover div {
    visibility: visible;
}

#home-edit-button, #home-delete-button {
    margin: 0;
    padding: 0;
}


/* ------------------- Posting container NavLinks ------------------- */
.posting-navlink-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 3px; */
}

#posting-username {
    margin: 3px 0;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(255,255,255, 0.1);
}

#posting-title {
    margin: 3px 0;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgb(255,255,255, 0.2);
}

#posting-caption {
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */

    margin-top: 3px;
    height: 48px;
    line-height: 16px;
    padding: 1px 5px 2px 5px;
    font-style: italic;
    font-size: 11px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    border-radius: 5px;
    /* background-color: rgba(139, 153, 99, 0.2); */
    background-color: rgba(255, 255, 255, 0.3);
}



/* ------------------- Posting detail media queries ------------------- */
@media (min-width: 450px) {
    .all-posting-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 650px) {
    .all-posting-container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 850px) {
    .all-posting-container { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1050px) {
    .all-posting-container { grid-template-columns: repeat(5, 1fr); }
}
