/* ------------------- Home page container ------------------- */
.all-posting-container {
    display: grid;
    height: auto;
    margin: 0 auto;
    padding: 44px 24px 24px;
    grid-gap: 1rem;
}



/* ------------------- Posting detail container ------------------- */
.posting-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 229.5px;
    width: 150px;
    padding: 20px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.posting-detail-container:hover {
    box-shadow: 0 0 5px rgb(235, 235, 235);
}



/* ------------------- Posting container header ------------------- */
.posting-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#posting-icon {
    padding: 20px 23.5px;
    font-size: 40px;
    border: 1px solid #f8e9a1;
    background-color: #f8e9a1;
    border-radius: 50%;
}

#posting-icon i {
    background-color: #f8e9a1;
}

.home-posting-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
}

.home-posting-buttons div {
    margin: 0 5px 5px 5px;
    font-size: 11px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s ease;
}

.posting-header:hover div {
    opacity: 1;
}

#home-edit-button div, #home-delete-button div {
    margin: 0;
    padding: 0;
    color: white;
    transition: 0.5s ease;
}

#home-edit-button div:hover, #home-delete-button div:hover {
    color: #f76c6c;
}


/* ------------------- Posting container NavLinks ------------------- */
.posting-navlink-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#posting-username {
    margin: 3px 0;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba(248, 233, 161, 1);
}

#posting-title {
    margin: 3px 0;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgba(248, 233, 161, 0.9);
}

#posting-caption {
    height: 48px;
    margin-top: 3px;
    padding: 1px 5px 2px 5px;
    font-style: italic;
    font-size: 11px;
    line-height: 16px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    border-radius: 5px;
    background-color: rgba(248, 233, 161, 0.8);
}



/* ------------------- Posting detail media queries ------------------- */
@media (min-width: 450px) {
    .all-posting-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 650px) {
    .all-posting-container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 850px) {
    .all-posting-container { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1050px) {
    .all-posting-container { grid-template-columns: repeat(5, 1fr); }
}
