/* ------------------- Create pickup button ------------------- */
#create-pickup {
    display: flex;
    justify-content: center;
    margin: 34px 0;
    font-size: 15px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 1s ease;
}

#create-pickup:hover {
    font-size: 17px;
    color: #f76c6c;
}


/* ------------------- Create pickup container ------------------- */
.create-pickup-container, .edit-pickup-container {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
}



/* ------------------- Create + edit pickup container header ------------------- */
.create-pickup-container div:first-child, .edit-pickup-container div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid white;
}



/* ------------------- Create + edit pickup container form ------------------- */
.create-pickup-form, .edit-pickup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.create-pickup-form fieldset, .edit-pickup-form fieldset {
    width: 193px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background-color: transparent;
}

.create-pickup-form legend, .edit-pickup-form legend {
    font-size: 11px;
    background-color: transparent;
}

.create-pickup-form input, .edit-pickup-form input {
    height: 18px;
    width: 193px;
    padding: 0;
    border: none;
    font-size: 12px;
    background-color: transparent;
}

#create-pickup-submit, #edit-pickup-submit {

}
