/* ------------------- Login Container ------------------- */
.login-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 6px #98a76e;
    background-color: #fefae0;
}



/* ------------------- Login elements ------------------- */
.auth-logo {
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 25px;
    color: blue;
}

.login-form {
    background-color: transparent;
}

.login-inputs {
    overflow: auto;
    width: 258px;
    margin: 3px;
    padding: 8px;
    font-size: 12px;
    color: #98a76e;
    border: 1px solid #98a76e;
    border-radius: 3px;
    background-color: transparent;
}

.login-submit, #demo-button {
    width: 276px;
    margin: 6px 3px 3px 3px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fefae0;
    background-color: #98a76e;
    cursor: pointer;
    transition: 0.5s ease;
}

.login-submit:hover {
    background-color: #7b8856;
}

.login-demo-container {
    background-color: transparent;
}

#demo-button {
    background-color: #afc967;
}

#demo-button:hover {
    background-color: #a0b860;
}

input::placeholder {
    font-size: 12px;
    color: #e6be3d;
}



/* ------------------- Below login container ------------------- */
.below-login {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 350px;
    margin: 10px 0 25px 0;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0 0 6px #98a76e;
    background-color: #fefae0;
    text-decoration: none;
}

.below-login:hover {
    color: #7b8856;
}

.below-login div {
    margin-right: 2px;
    background-color: #fefae0;
    color: #afc07f;
}

.below-login a {
    margin-left: 2px;
    font-weight: 600;
    color: #98a76e;
    background-color: #fefae0;
    text-decoration: none;
}
