/* ------------------- Login Container ------------------- */
.login-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 4px #e6be3d;
    background-color: #f8e9a1;
}



/* ------------------- Login elements ------------------- */
.auth-logo {
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 25px;
    color: blue;
}

.login-form {
    background-color: transparent;
}

.login-inputs {
    overflow: auto;
    width: 258px;
    margin: 3px;
    padding: 8px;
    font-size: 12px;
    color: #cca011;
    border: 1px solid #e6be3d;
    border-radius: 3px;
    background-color: transparent;
}

.login-submit, #demo-button {
    width: 276px;
    margin: 6px 3px 3px 3px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #f76c6c;
    cursor: pointer;
    transition: 0.5s ease;
}

.login-submit:hover {
    background-color: #e45959;
}

.login-demo-container {
    background-color: transparent;
}

#demo-button {
    background-color: #a8d0e6;
}

#demo-button:hover {
    background-color: #86bddb;
}

input::placeholder {
    font-size: 12px;
    color: #e6be3d;
}



/* ------------------- Below login container ------------------- */
.below-login {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 288px;
    margin: 10px 0 25px 0;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 4px #e6be3d;
    background-color: #f8e9a1;
    text-decoration: none;
}

.below-login div {
    margin-right: 2px;
    color: #f76c6c;
    background-color: #f8e9a1;
}

.below-login a {
    margin-left: 2px;
    font-weight: 600;
    color: #f76c6c;
    background-color: #f8e9a1;
    text-decoration: none;
    transition: 0.5s ease;
}

.below-login a:hover {
    color: #e45959;
}



/* ------------------- Below login container - About me ------------------- */
.below-login-about {
    width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    /* justify-content: space-evenly; */
}

.below-login-about a i {
    padding-left: 9px;
    font-size: 17px;
}
