/* ------------------- Home page container ------------------- */
.single-posting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: 600px;
    margin: 0 auto;
    padding: 125px 24px 24px;
}



/* ------------------- Posting detail container ------------------- */
.single-posting-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.single-posting-detail-container p {
    margin: 3px 0;
}



/* ------------------- Posting container header ------------------- */
#bookmark, #un-bookmark {
    text-align: end;
    font-size: 20px;
    cursor: pointer;
}

.single-posting-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#single-posting-icon {
    font-size: 45px;
    padding: 20px 23.5px;
    border: 1px solid #f8e9a1;
    background-color: #f8e9a1;
    border-radius: 50%;
}

#single-posting-icon i {
    background-color: #f8e9a1;
}

.single-posting-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 23px; */
}

.single-posting-buttons div {
    margin: 10px 5px 0 5px;
    cursor: pointer;
}

.single-posting-header:hover div {
    visibility: visible;
}

#single-edit-button div, #single-delete-button div {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    background-color: rgba(248, 233, 161, 0.4);
    color: white;
    transition: 0.5s ease;
}

#single-edit-button div:hover, #single-delete-button div:hover {
    background-color: rgba(247, 108, 108, 0.3);
}


/* ------------------- Posting container NavLinks ------------------- */
#single-posting-username {
    margin: 5px;
    padding: 5px;
    font-size: 21px;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s ease;
}

#single-posting-username:hover {
    color: #f76c6c;
}

#single-posting-title p {
    margin: 3px 0;
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgba(248, 233, 161, 0.8);
}

#single-posting-caption p {
    padding: 7px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 5px;
    background-color: rgba(248, 233, 161, 0.7);
}

#single-posting-address p {
    padding: 7px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 5px;
    background-color: rgba(248, 233, 161, 0.6);
}
